@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&subset=cyrillic,cyrillic-ext');

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
  margin-top: 50px;
}


@blue: #1299dd;
@1200:    ~"(max-width: 1200px)";

.transition(@time){
	transition: all @time linear;
	-moz-transition: all @time linear;
	-webkit-transition: all @time linear;
	-o-transition: all @time linear;
}

.placeholder(@rules) {
    &::-webkit-input-placeholder {
        @rules();
    }
    &:-moz-placeholder {
        @rules();
    }
    &::-moz-placeholder {
        @rules();
    }
    &:-ms-input-placeholder {
        @rules();
    }
}

.placeholder-focus(@rules) {
    &:focus::-webkit-input-placeholder {
        @rules();
    }
    &:focus:-moz-placeholder {
        @rules();
    }
    &:focus::-moz-placeholder {
        @rules();
    }
    &:focus:-ms-input-placeholder {
        @rules();
    }
}

a{
  text-decoration: none;

  &:hover{
    text-decoration: none;
  }
  &:focus{
    text-decoration: none;
  }
}

.container{
  margin-top: 50px;
}

.row{
  margin: 0px;
  margin-bottom: 35px;
}
